/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* Custom CSS below */

.headerTitleWithLogo {
    display: none !important;
}

.tab-content {
    height: 250px;
    overflow: scroll;
    background-color: #F0F0F0;
    border-bottom: 1px solid #6f6f6f;
    margin-bottom: 10px;
}

.CodeSample {
    background-color: #f8f8f8;
    border-bottom: 1px solid #6f6f6f;
    border-top: 1px solid #6f6f6f;
    padding: 10px 5px;
    margin: 10px 0 60px 0;
}

.CodeSample:before {
    content: "Code Sample:";
    display: block;
    font-weight: bold;
}

.CodeSample > .tabs:after {
    border-bottom: 1px solid #cfcfcf;
    content: "Output:";
    display: block;
    font-weight: bold;
    margin: 0 auto 10px auto;
    width: 99%;
}

.CodeSample--padded {
    padding: 20px;
}

.SourceView-page {
    position: absolute;
    right: 0;
    top: .7em;
}

.SourceView-page:hover {
    filter: brightness(80%);
}

.SourceView-page::after {
    background-image: url(../img/view-source.svg);
    content:'';
    height: 20px;
    position: absolute;
    right: 0;
    width: 160px;
}

.SourceView-section {
    display: block;
    position: relative;
    width: 100%;
}

.SourceView-section:hover {
    filter: brightness(80%);
}

.SourceView-section::after {
    background-image: url(../img/view-source.svg);
    content:'';
    height: 20px;
    position: absolute;
    right: 0;
    top: -2em;
    width: 160px;
}