/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* Custom CSS below */

.headerTitleWithLogo {
    display: none !important;
}

.tab-content {
    height: 250px;
    overflow: scroll;
    background-color: #F0F0F0;
    border-bottom: 1px solid #6f6f6f;
    margin-bottom: 10px;
}

.code-sample {
    background-color: #f8f8f8;
    border-bottom: 1px solid #6f6f6f;
    border-top: 1px solid #6f6f6f;
    padding: 10px 5px;
    margin: 10px 0 60px 0;
}